.truncated-label{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.centered-img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.control-title-label{
  color: #939393;
  user-select: none;
  text-transform: uppercase;
  font-size: 10px;
  padding-bottom: 5px;
}

.invisible{
  display: none;
}

.divider(@width){
  width: @width;
  height: 1px;
  border: 0;
  margin-top: 5px;
  display: block;
  background: #E3E4E7;
}