.search-box{
  height: 30px;
  padding: 10px;
  float: right;

  &_input{
    width: 280px;
    height: 30px;
    padding: 5px 5px;
    float: left;
    font: bold 15px 'Merriweather', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
  }

  &_button{
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: 100px;
    font-family: 'Merriweather', 'sans-serif';
    font-size: 15px;
    color: #fff;
    background: linear-gradient(to bottom, #D3B23F, #C2A12B);
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);

    &:before{
      content: '';
      position: absolute;
      border-width: 8px 8px 8px 0;
      border-style: solid solid solid none;
      border-color: transparent #C2A12B transparent;
      top: 8px;
      left: -6px;
    }
  }
}